# Cloudinary delivery configuration
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

NEXT_PUBLIC_CLOUDINARY_ORBIT_1_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_2_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_3_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_4_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_5_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_6_ID=
NEXT_PUBLIC_CLOUDINARY_ORBIT_7_ID=

NEXT_PUBLIC_CLOUDINARY_AVATAR_1_ID=
NEXT_PUBLIC_CLOUDINARY_AVATAR_2_ID=
NEXT_PUBLIC_CLOUDINARY_AVATAR_3_ID=
NEXT_PUBLIC_CLOUDINARY_AVATAR_4_ID=

NEXT_PUBLIC_CLOUDINARY_TKSTREAM_COVER_ID=
NEXT_PUBLIC_CLOUDINARY_TKSTREAM_1_ID=
NEXT_PUBLIC_CLOUDINARY_TKSTREAM_2_ID=
NEXT_PUBLIC_CLOUDINARY_TKSTREAM_3_ID=
NEXT_PUBLIC_CLOUDINARY_TKSTREAM_PREVIEW_ID=
NEXT_PUBLIC_CLOUDINARY_TKSTREAM_VIDEO_ID=

NEXT_PUBLIC_CLOUDINARY_GLAMGO_COVER_ID=
NEXT_PUBLIC_CLOUDINARY_GLAMGO_1_ID=
NEXT_PUBLIC_CLOUDINARY_GLAMGO_2_ID=
NEXT_PUBLIC_CLOUDINARY_GLAMGO_3_ID=
NEXT_PUBLIC_CLOUDINARY_GLAMGO_PREVIEW_ID=
NEXT_PUBLIC_CLOUDINARY_GLAMGO_VIDEO_ID=
